name: ArgoCD Sync
on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
      argocd_server:
        required: true
        type: string
    secrets:
      argocd_token:
        required: true
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/argocd-sync
        with:
          app: ${{ inputs.app_name }}
          server: ${{ inputs.argocd_server }}
          token: ${{ secrets.argocd_token }}
