name: Docker Build & Push
on:
  workflow_call:
    inputs:
      registry:
        required: false
        type: string
        default: docker.io
      image_name:
        required: true
        type: string
      context:
        required: false
        type: string
        default: .
      dockerfile:
        required: false
        type: string
        default: Dockerfile
      platforms:
        required: false
        type: string
        default: linux/amd64,linux/arm64
      tags:
        required: false
        type: string
        default: latest
    secrets:
      registry_username:
        required: true
      registry_password:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/docker-push
        with:
          registry: ${{ inputs.registry }}
          image_name: ${{ inputs.image_name }}
          context: ${{ inputs.context }}
          dockerfile: ${{ inputs.dockerfile }}
          platforms: ${{ inputs.platforms }}
          tags: ${{ inputs.tags }}
          username: ${{ secrets.registry_username }}
          password: ${{ secrets.registry_password }}
