name: Docker Build & Push
on:
  workflow_call:
    inputs:
      registry:
        required: false
        type: string
        default: docker.io
      image_name:
        required: true
        type: string
      context:
        required: false
        type: string
        default: .
      dockerfile:
        required: false
        type: string
        default: Dockerfile
      platforms:
        required: false
        type: string
        default: linux/amd64,linux/arm64
      tags:
        required: false
        type: string
        default: latest
    secrets:
      registry_username:
        required: true
      registry_password:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.registry_username }}
          password: ${{ secrets.registry_password }}
      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ${{ inputs.image_name }}
          tags: |
            type=raw,value=${{ inputs.tags }}
      - uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ inputs.image_name }}:${{ inputs.tags }}
          platforms: ${{ inputs.platforms }}
