name: Render Deploy
on:
  workflow_call:
    inputs:
      render_service_id:
        required: true
        type: string
    secrets:
      render_api_key:
        required: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy
        run: |
          curl -sS -X POST \
            -H "Authorization: Bearer ${RENDER_API_KEY}" \
            -H "Content-Type: application/json" \
            https://api.render.com/v1/services/${RENDER_SERVICE_ID}/deploys
        env:
          RENDER_API_KEY: ${{ secrets.render_api_key }}
          RENDER_SERVICE_ID: ${{ inputs.render_service_id }}
