name: Go Tests
on:
  workflow_call:
    inputs:
      go-version:
        type: string
        default: "1.22"
      test-cmd:
        type: string
        default: "go test ./..."
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}
          cache: true
      - run: ${{ inputs.test-cmd }}
